.notifications-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.notifications-header__info-conatiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notifications-header__title {
    /* margin-bottom: 0.0625rem; */
    margin-right: 0.5625rem;
    color: var(--very-dark-blue);
    font-size: 1.25rem;
    font-weight: 800;
}

.notifications-header__number {
    padding: 0.125rem 0.75rem 0.1875rem 0.6875rem;
    border-radius: 0.375rem;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1rem;
    font-weight: 800;
}

.notifications-header__button {
    border: none;
    background: none;
    color: var(--dark-grayish-blue);
    font-size: 0.9375rem;
    letter-spacing: 0.5px;
    word-spacing: -2.5px;
    transition: all 0.25s ease-in-out;
}

.notifications-header__button:hover {
    color: var(--blue);
    cursor: pointer;
}

@media screen and (min-width: 45.625em) {
    .notifications-header {
        margin-bottom: 1.875rem;
    }

    .notifications-header__title {
        margin-right: 0.75rem;
        font-size: 1.5rem;
    }

    .notifications-header__number {
        padding: 0.125rem 0.75rem 0.25rem 0.6875rem;
    }

    .notifications-header__button {
        font-size: 1rem;
    }
}