.notification {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* min-height: 65px; */
    padding: 1rem;
    padding-right: 0.75rem;
    border-radius: 0.5rem;
}

.notification span {
    display: inline-block;
}

.notification--unread {
    background-color: var(--very-light-grayish-blue);
}

.notification__avatar-container {
    margin-right: 0.8125rem;
}

.notification__picture-container {
    margin-left: 0.625rem;
    border: 0.125rem solid var(--white);
    border-radius: 0.5rem;
    transition: all 0.25s ease-in-out;
}

.notification__picture-container:hover {
    border-color: var(--light-grayish-blue-2);
}

.notification__image {
    display: block;
    width: 39px;
    transition: all 0.25s ease-in-out;
}

.notification__image:hover {
    cursor: pointer;
}

.notification__info-container {
    flex: 1;
}

.notification__content {
    /* margin-top: 0.0625rem; */
    margin-bottom: 0.25rem;
    color: var(--dark-grayish-blue);
    font-size: 0.9375rem;
    letter-spacing: -0.5px;
}

.notification__username {
    margin-right: 0.375rem;
    color: var(--very-dark-blue);
    font-weight: 800;
    transition: all 0.25s ease-in-out;
}

.notification__post-name {
    margin-left: 0.375rem;
    color: var(--dark-grayish-blue);
    font-weight: 800;
    transition: all 0.25s ease-in-out;
}

.notification__post-name:hover, .notification__username:hover {
    color: blue;
    cursor: pointer;
}

.notification__unread {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.375rem;
    border-radius: 50%;
    background-color: var(--red);
}

.notification__time {
    color: var(--grayish-blue);
    font-size: 0.875rem;
}

.notification__message {
    margin-top: 0.75rem;
    padding: 0.9375rem;
    border: 0.0625rem solid var(--light-grayish-blue-1);
    border-radius: 0.25rem;
    color: var(--dark-grayish-blue);
    font-size: 0.9375rem;
    letter-spacing: -0.5px;
    transition: all 0.25s ease-in-out;
}

.notification__message:hover {
    background-color: var(--light-grayish-blue-1);
    cursor: pointer;
}

@media screen and (min-width: 45.625em) {
    .notification {
        padding: 1.125rem 1.125rem 1rem 1.125rem;
        /* padding-right: 0.75rem; */
    }

    .notification__avatar-container {
        margin-right: 1.1875rem;
    }

    .notification__image {
        width: 45px;
    }

    .notification__content {
        margin-bottom: 0.1875rem;
        font-size: 1rem;
        line-height: 1.4;
        letter-spacing: 0.1px;
    }

    .notification__time {
        font-size: 1rem;
    }

    .notification__message {
        margin-bottom: 0.125rem;
        padding: 1rem 1.25rem;
        font-size: 1rem;
        line-height: 1.35;
        letter-spacing: 0;
    }

    .notification__unread {
        position: relative;
        top: -1px;
    }
}