/* global styles */

:root {
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
    --shadow: hsla(224, 21%, 14%, 0.05);
}

html {
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 990px;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    background-color: var(--very-light-grayish-blue);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, ul, button {
    margin: 0;
    padding: 0;
}

li, ol {
    list-style: none;
}

.main {
    height: 990px;
    width: 100%;
    max-width: 1440px;
}

@media screen and (min-width: 45.625em) {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;  
    }
}
